<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Web 1.0</title>
{#    <link href="{{request.static_url('geru_challenge:static/theme.css')}}" rel="stylesheet">#}
  </head>

  <body>
    {% block content %}{% endblock content %}
  </body>
</html>
